<!-- <h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>

<p><a href="http://localhost:3000/tasks">Back to list</a></p>
<%= link_to 'Add a new restaurant', add_new_path(@restaurant) %>
 -->
